<div ng-include="'./views/back.html'"></div>
<div class="about">
    <div class="left">
        <p>Lorem ipsum dolor sit amet, et mel euismod propriae hendrerit, graeci aeterno ocurreret sed an. Duis consul consetetur has ad, blandit cotidieque ad usu. Inani viderer propriae quo in. Mea prima dicit insolens cu. Eos ad solum consul detraxit,
            vel vocibus postulant ex. <br><br>Soluta forensibus persequeris pri cu, ad nec dolor dignissim. Cu simul omittam scaevola vix. Ne vix pertinax philosophia. No officiis maluisset reformidans eam, no duo vero iusto saepe, qui at duis graecis.
            In cum elitr graeci expetendis. At qui alii diceret mentitum, meliore consulatu at vel. Pri dicunt delectus ex, ea mel solum saepe. Errem meliore accusamus cu mel. Pri oblique accusata dissentiet an, velit probatus cum ut. No qui labore iudicabit
            adversarium, magna illum accusata an pro, in nam tractatos scriptorem. Eu democritum elaboraret appellantur eam, vis splendide aliquando necessitatibus an, et audiam mediocrem ius. Vis cu vidit partem eruditi. No quot scaevola per, eum dictas
            intellegebat id. <br><br>Id sea euripidis scribentur. Ad odio fabulas percipitur nec, an animal gloriatur nam, cu qui unum eros legere. Sea te insolens democritum. Ut debet clita evertitur eum, legere consectetuer at cum. Id vero vidisse mea,
            oratio dolore sapientem mei ut, vim ad velit saperet fierent. Ex semper maiorum ocurreret mea.<br><br> Et cum reque etiam. Eum id purto adhuc, in clita virtute periculis nam. Adhuc iudico periculis ex has, reque mollis molestie ex duo, ea
            sumo petentium nec. Soleat dolorem percipitur cum ut, quo in nisl audire voluptatum, mel dicit electram at.</p>
    </div>
    <div class="hero_img"></div>
</div>