@import 'modules/colours';
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font: 100% sans-serif;
    background: $background;
}

@import 'modules/modules';