<div class="content">
    <div class="left_gutter"></div>
    <div class="comicSection">
        <div *ngFor="let comic of comics;">
            <a href="{{comic.refName}}/issue/{{comic.refIssue}}">
                <div class="comic fade" [ngStyle]="{ 'background-image': 'url(' + comic.Image + ')'}">

                    <div class="description ">
                        <h2>{{comic.Name}} <br> <span>{{comic.Issue}}</span>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="right_gutter "></div>
</div>
<div class="footer"></div>