@import "background-image";
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -10;
}

.left,
.hero_img {
    position: relative;
    height: 60pc;
    flex-grow: 1;
    @media (min-width: 900px) {
        max-width: 50pc;
    }
}

.left {
    margin: 190px 100px 0;
    color: white;
    font-size: 20px;
    @media (max-width: 900px) {
        font-size: 32px;
        margin-top: 135px;
    }
}

.hero_img {
    @include background-img('../app/images/superhero.png', 100%);
    @media (max-width: 900px) {
        background-size: cover;
        opacity: 0.4;
        bottom: -20pc;
    }
}